//.container {
//  margin-top: 200px;
//}
//
//.pricing {
//  width: 100%;
//  height: 350px;
//  background-color: #2190FF;
//}
//
//@media screen and (max-width: 767px) {
//  .container {
//    margin-top: 100px;
//  }
//}
@import '../../variables';
#left-div-filled {

  color: dodgerblue;
  min-height: 300px;

  padding: 15px;
  padding-left: 2%;

}

#large-text {
  margin-left: 5%;
  font-family: Rubik !important;
  font-size: 58px;
  font-weight: 700;
  color: white;
  line-height: 150%;

}

#large-text-1 {

  font-family: Rubik !important;
  font-size: 58px;
  font-weight: 700;
  color: white;
  line-height: 150%;

}

.small-text {

  font-family: Rubik !important;
  font-size: 23px;
  font-weight: 300;
  color: white;
  line-height: 150%;
  max-width: 500px;

}

#row-1 {
  background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
  padding: 10%;
  margin-top: -25px;
}

#row-2 {

  padding: 5%;


}

.dia-img {
  width: 70%;
  @media screen and (max-width: $tablet - 1px){
      height: 100% !important;
  }
}

#row-3 {

  background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
  padding: 3%;
  padding-bottom: 13%;
  text-align: center;

}

#demo-button {
  width: 300px;
  height: 55px;
  margin-bottom: 55px;
}

#demo-button a {
  color: #000 !important;
  font-weight: bolder !important;
}

#large-text-1 {
  width: 100%;
}

#price-div {
  border: 2px solid lightgray;
  border-radius: 15px;
  min-height: 400px;
  width: 400px;
  display: inline-block;
  margin: 25px;
  position: relative;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  background-color: white;

}

#price-div-header {

  border-bottom: 2px solid #f3f3f3;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 100px;
  width: 100%;
  display: inline-block;
  text-align-last: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
  padding-top: 20px;
  color: darkslategray;
  background-color: #f3f3f3;

}

#price-div-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3em;
  display: inline-block;
  color: darkslategray;
  background-color: white;


}

#price-div-text-1 {
  display: inline-block;
  color: darkslategray;


}

#per-mo {
  display: inline-block;
}

#block-button {
  position: absolute;
  bottom: 35px;
  max-width: 90%;
  margin-left: 5%;
  height: 50px;
  font-size: 1.3em;

}

#background-full {
  background: url(../../assets/images/blue-3.jpg);
  height: 500px;
  margin: auto;
  background-position: 15% 70%;
  padding-top: 5%;
  font-family: Anton;

}

#white-button {
  background-color: white;

}

#jumbo-row {

  background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
  background-position: 15% 70%;
  margin-top: -20px;
  padding: 5%;
  padding-top: 15%;


  text-align: center;

}


.small-info-div {
  color: white;
  font-family: Rubik;
  font-size: 18px;
  padding-bottom: 20px;


  font-weight: 500;

  h3 b {
    font-weight: bolder !important;
  }
}


#footer {

  background-color: #46566E;
  color: white;
  margin-top: -25px;
  padding-top: 3%;
}

#front-img-2 {
  max-width: 80%;
  height: auto;
}

.container-fluid:first-of-type {
  margin-top: 60px;
}
