<div class="container-fluid">
  <div class="row" id="row-1">
    <div class="col-lg-6" id="left-div-filled">
      <p id="large-text">
        simple.<br>secure.<br>fast.
      </p>
      <p class="small-text">
        Provide your prospects with an intuitive online application. Gathering client information has never been easier.
        You are now available 24/7.
      </p>

    </div>
    <div class="col-lg-6"><img id="front-img-2" src="../../assets/images/front-circle-comp.png" height="500"></div>
  </div>
</div>


<!----->

<div class="container-fluid">

  <div class="row" id="row-2">
    <div class="form-row">
      <img class="dia-img mx-auto" src="../../assets/images/diagram.png">
    </div>
  </div>


</div>


<!----->


<div class="container-fluid">

  <div class="row" id="row-3">
    <div class="col-lg-12">
      <div class="form-row">
        <p id="large-text-1" class="mx-auto">give it a quick try</p>
        <p class="small-text mx-auto">(no signup needed)</p>
      </div>
      <a target="_blank" href="https://apply.insure/pete" id="demo-button" type="button" class="btn btn-light btn-lg">Demo</a>
    </div>


    <div class="col-lg-3 col-md-4 small-info-div">
      <h3><b>API Feeds</b></h3>
      We make info gathering by collecting information from <b>google</b> and <b>zillow</b>. We also integrate with
      Sales CRMs like <b>Pipedrive</b>.

    </div>
    <div class="col-lg-3 col-md-3 small-info-div">
      <h3><b>Smart Alerts</b></h3>
      Upon a completed application, the agent and admin receives alerts. <b>Map</b> your alerts so the right people get
      alerted.


    </div>
    <div class="col-lg-3 col-md-3 small-info-div">
      <h3><b>Admin Dashboard</b></h3>
      Do you manage a sales team?
      Login to a dashboard to view applications being submitted in real time. Run reports to compare year over year
      count.

    </div>
    <div class="col-lg-3 col-md-3 small-info-div">
      <h3><b>One App</b></h3>
      We use one app for a consumer and the agent. We keep it simple for the prospect but have the capability of
      customized input.

    </div>

  </div>


</div>


<!----->
