<div class="container-fluid">
  <div class="row" id="jumbo-row">
    <div class="col-lg-12">
      <div class="form-row">
        <p id="large-text-1" class="mx-auto">Pricing</p>
        <p id="small-text" class="mx-auto">Equip yourself or your sales teams with tools to increase effeciency.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="w3-center w3-animate-left price-div">
        <div class="price-div-header">Individual</div>
        <p class="price-div-text">$25</p>
        <p class="per-mo"> / mo</p><br>
        <p class="per-mo"> 1 agent link</p><br>
        <p class="per-mo"> 1 admin page</p>
        <button type="button" class="btn btn-primary btn-sm btn-block block-button">Get Started</button>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="w3-center w3-animate-right price-div">
        <div class="price-div-header">Team</div>
        <p class="price-div-text">$20</p>
        <p class="per-mo"> / mo</p><br>
        <p class="price-div-text-1"><b>$10</b></p>
        <p class="per-mo"> / per additional user</p>  <br>
        <p class="per-mo"> advanced alert mapping</p>
        <button type="button" class="btn btn-primary btn-sm btn-block block-button">Get Started</button>
      </div>
    </div>
  </div>
</div>
